# The directory Mix will write compiled artifacts to.
_build/

# The directory Mix downloads your dependencies sources to.
deps/

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
app-*.tar

# ignore file mac too
.DS_Store
